.App-header {
  background-color: rgb(255, 255, 255);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.error-message {
  color: #ed3b57;
  text-align: center;
  margin-top: 8px;
}

.center {
  text-align: center;
}

.MuiBackdrop-root {
  z-index: initial;
}
