.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  margin-top:100px;

}
.MuiToolbar-regular {
  background-color: white;
} 
.MuiButton-label {
  color: black;
}
.MuiTypography-h6 {
  color: black;
}

.App-header {
  background-color: rgb(255, 255, 255);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font-family: 'Sansita Swashed', cursive;
  font-size: x-large;
}
p {
  margin-top: 30px;
}