.manage-restaurant-dialog-body {
  padding: 24px;
}

.manage-restaurant-dialog-list-item {
  display: flex;
}

.manage-restaurant-dialog-list-item-name {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
