.no-trips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}

.no-trips-image {
  width: 180px;
  margin-bottom: 24px;
  position: relative;
  left: 8px;
}

.trips-page {
  padding: 24px;
}

.trip-link {
  text-decoration: none;
  color: inherit;
}
