.header-app-bar {
  background: white;
  color: black;
}
.header-logo {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.header-logo-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.header-logo-image {
  width: 55px;
  margin-right: 8px;
}
.header-username {
  margin-left: 4px;
}
