.trip-page-begin-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.create-trip-dialog-body {
  padding: 24px;
  text-align: center;
}

.add-date {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
 gap: 8px;
}
